<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bossystem.mapper.UserMapper">


<!--    根据用户名取出对应用户-->
    <select id="getUserByName" resultType="com.example.bossystem.pojo.User">
        select * from user where uname = #{username}
    </select>

<!--    根据用户id取出对应用户-->
    <select id="getUserById" resultType="com.example.bossystem.pojo.User">
        select * from user where uid = #{id}

    </select>


<!--    注册时插入用户-->
    <insert id="insertUser" useGeneratedKeys="true"
            keyProperty="uid">
        insert into user (uname,upwd,utel,uemail,uaddress,upostcode)
        values (#{uname},#{upwd},#{utel},#{uemail},#{uaddress},#{upostcode})

    </insert>

<!--    用户修改时调用-->
    <update id="updateUser">
        update user set uname=#{uname},upwd=#{upwd},utel=#{utel},
            uemail=#{uemail}, uaddress=#{uaddress}, upostcode=#{upostcode} where uid = #{uid}

    </update>



</mapper>