<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{admin/base :: head}"></div>
<body>

<div class="col-lg-12 grid-margin stretch-card">

        <div class="card-body">
            <h4 class="card-title">车辆管理</h4>
            <button class="btn btn-outline-success" onclick="openAddCar()">新增车辆</button>

            <div class="table-responsive pt-3">
                <table class="tablelist table table-bordered" id="example">
                    <thead>
                    <tr>
                        <th>
                            车牌号
                        </th>
                        <th>
                            车型
                        </th>
                        <th>
                            最大载重量(/箱)
                        </th>
                        <th>
                            已使用载重量(/箱)
                        </th>
                        <th>
                            车辆状态
                        </th>
                        <th>
                            司机姓名
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="car : ${cars}">
                            <td th:text="${car.car_num}" th:id="'num_'+${car.car_id}"></td>
                            <td th:text="${car.car_type}" th:id="'type_'+${car.car_id}"></td>
                            <td th:text="${car.traffic}" th:id="'traffic_'+${car.car_id}"></td>
                            <td th:text="${car.used_traffic}" th:id="'used_traffic_'+${car.car_id}"></td>
                            <td th:switch="${car.car_status}" th:id="'status_'+${car.car_id}">
                                <input type="hidden" th:value="${car.car_status}">
                                <label th:case="0" class="badge badge-danger">维修中</label>
                                <label th:case="1" class="badge badge-warning">已出车</label>
                                <label th:case="2" class="badge badge-success">可使用</label>
                            </td>
                            <td th:text="${car.dname}" th:id="'dname_'+${car.car_id}"></td>
                            <td>
                                <button class="btn btn-outline-info" th:onclick="'javascript:showCar(\''+${car.car_id}+'\');'">修改</button>
                                <button class="btn btn-outline-danger" th:onclick="'javascript:delCar(\''+${car.car_id}+'\');'">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

</div>

<!--    设置修改车辆信息弹出框div-->
<div class="modal fade" id="carModify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form  th:action="@{/admin/updateCar}" method="post" class="forms-sample" id="updateForm">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">更新车辆信息</h4>
                </div>
                <div class="modal-body">

                    <input type="hidden" name="car_id" id="car_id">
                    <div class="form-group">
                        <label for="carNum">车牌号</label>
                        <input type="text" name="car_num" class="form-control" id="carNum" >
                    </div>
                    <div class="form-group">
                        <label for="carType">车型</label>
                        <input type="text" name="car_type" class="form-control" id="carType" >
                    </div>

                    <div class="form-group">
                        <label for="traffic">最大载重量</label>
                        <input type="text" name="traffic" class="form-control" id="traffic" >
                    </div>
                    <div class="form-group">
                        <label for="usedtraffic">已使用载重量</label>
                        <input type="text" name="used_traffic" class="form-control" id="usedtraffic" >
                    </div>
                    <div class="form-group">
                        <label for="traffic">司机姓名</label>
                        <input type="text" name="dname" class="form-control" id="dname" >
                    </div>
                    <div class="form-group">
                        <label for="sel_carStatus">车辆状态</label>
                        <select class="form-control form-control-lg" id="sel_carStatus" name="car_status">
                            <option th:value="0" >维修中</option>
                            <option th:value="1" >已出车</option>
                            <option th:value="2" >可使用</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" onclick="updateCar()"  class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--设置新增车辆信息弹出框-->
<div class="modal fade" id="carAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form th:action="@{/admin/addCar}" method="post" class="forms-sample" id="addForm">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" >新增车辆</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="txt_carNum">车牌号</label>
                    <input type="text" name="car_num" class="form-control" id="txt_carNum" >
                </div>
                <div class="form-group">
                    <label for="txt_carType">车型</label>
                    <input type="text" name="car_type" class="form-control" id="txt_carType" >
                </div>
                <div class="form-group">
                    <label for="txt_maxCapacity">最大载重量</label>
                    <input type="text" name="traffic" class="form-control" id="txt_maxCapacity" >
                </div>
                <div class="form-group">
                    <label for="usedtraffic">已使用载重量</label>
                    <input type="text" name="used_traffic" class="form-control"  >
                </div>
                <div class="form-group">
                    <label for="traffic">司机姓名</label>
                    <input type="text" name="dname" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="sel_car_status">描述</label>
                    <select class="form-control form-control-lg" id="sel_car_status" name="car_status">
                        <option th:value="0" >维修中</option>
                        <option th:value="1" >已出车</option>
                        <option th:value="2" >可使用</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                <button type="button" onclick="addCar()" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
            </div>
        </div>
        </form>
    </div>
</div>
<div th:include="~{admin/base :: footer}"></div>
<script src="../js/myjs/bootstrap-notify.js"></script>
<script type="text/javascript">

    //展示要操作的车辆信息
    function showCar(carid) {
        //显示弹窗
        $('#carModify').modal();
        //将车辆信息赋值
        $('#carNum').val($('#num_'+carid).text());
        $('#carType').val($('#type_'+carid).text());
        $('#traffic').val($('#traffic_'+carid).text());
        $('#usedtraffic').val($('#used_traffic_'+carid).text());
        $('#dname').val($('#dname_'+carid).text());
        $('#car_id').val(carid);
        //设置下拉框选中
        $('#sel_carStatus option').each(function () {

            if($(this).val() == $('#status_'+carid).find('input').val()){
                $(this).prop("selected",true);
            }
        });
    }

    //对车辆信息进行更新
    function updateCar() {
        $('#updateForm').ajaxSubmit({
            success: function (data) {
                if(data == 'success'){//如果成功
                    //弹出框设置
                    $.notify({
                        message: '修改成功!'
                    },{
                        type: 'success',
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        delay: 1000 //显示时长(毫秒)
                    })
                }else{
                    $.notify({
                        message: '修改失败!'
                    },{
                        type: 'warning',
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        delay: 1000 //显示时长(毫秒)
                    })
                }
            },
            resetForm: false

        });
        //更新后重新加载页面,设置延迟1s刷新
        setTimeout(function () {
            location.reload();//刷新页面
        },1000);
    }

    //实现删除功能
    function delCar(carid) {
        $.ajax({
            success: function (data) {
                if(data == 'success'){
                    $('#num_'+carid).parent().remove();
                    $.notify({
                        message: '删除成功!'
                    },{
                        type: 'success',
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        delay: 1000 //显示时长(毫秒)
                    });
                }

            },
            url: "/admin/delCar/"+carid,
            type: "GET",
            dataType: "text"

        });
        //更新后重新加载页面,设置延迟1s刷新
        setTimeout(function () {
            location.reload();//刷新页面
        },1000);
    }

    //打开新增车辆div
    function openAddCar() {
        $('#carAdd').modal();
    }

    //新增车辆
    function addCar() {
        $('#addForm').ajaxSubmit({
            success: function (data) {
                if(data == 'success'){//如果成功
                    //弹出框设置
                    $.notify({
                        message: '添加成功!'
                    },{
                        type: 'success',
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        delay: 1000 //显示时长(毫秒)
                    })
                }else{
                    $.notify({
                        message: '添加失败!'
                    },{
                        type: 'warning',
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        delay: 1000 //显示时长(毫秒)
                    })
                }
            },
            resetForm: false
        });
        //更新后重新加载页面,设置延迟1s刷新
        setTimeout(function () {
            location.reload();//刷新页面
        },1000);
    }

    //实现分页
    $(document).ready(function(){
        $("#example").dataTable({
            "bProcessing" : true, //DataTables载入数据时，是否显示‘进度’提示
            "aLengthMenu" : [5, 10, 15], //更改显示记录数选项
            "sPaginationType" : "full_numbers", //详细分页组，可以支持直接跳转到某页
            "bAutoWidth" : true, //是否自适应宽度
            //"bJQueryUI" : true,
            "oLanguage": { //国际化配置
                "sProcessing" : "正在获取数据，请稍后...",
                "sLengthMenu" : "显示 _MENU_ 条",
                "sZeroRecords" : "没有您要搜索的内容",
                "sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
                "sInfoEmpty" : "记录数为0",
                "sInfoFiltered" : "(全部记录数 _MAX_ 条)",
                "sInfoPostFix" : "",
                "sSearch" : "搜索",
                "sUrl" : "",
                "oPaginate": {
                    "sFirst" : "第一页",
                    "sPrevious" : "上一页",
                    "sNext" : "下一页",
                    "sLast" : "最后一页"
                }
            },
        });
    });
</script>
</body>
</html>