<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{admin/base :: head}"></div>
<link rel="stylesheet" href="../css/mycss/jquery.dataTables.min.css">

<body>
    <div class="col-lg-12 grid-margin stretch-card">

        <div class="card-body">
            <h4 class="card-title">员工管理</h4>

            <button class="btn btn-outline-success" onclick="addDiv()">新增员工</button>

            <div class="table-responsive">
                <table class=" tablelist table table-striped" id="example">
                    <thead>
                    <tr>
                        <th>
                            员工编号
                        </th>
                        <th>
                            员工名
                        </th>
                        <th>
                            入职时间
                        </th>
                        <th>
                            联系方式
                        </th>
                        <th>
                            所在部门名称
                        </th>
                        <th>
                            员工状态
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="emp : ${emps}">
                        <td th:text="${emp.emp_num}"></td>
                        <td th:text="${emp.emp_name}" th:id="'name_'+${emp.emp_num}"></td>
<!--                        <td th:text="${#dates.format(emp.emp_hiredate,'yyyy-MM-dd') }"></td>-->
                        <td th:text="${emp.emp_hiredate}" th:id="'time_'+${emp.emp_num}"></td>
                        <td th:text="${emp.emp_tel}" th:id="'tel_'+${emp.emp_num}"></td>
                        <td th:text="${emp.dept_name}" th:id="'deptName_'+${emp.emp_num}"></td>
                        <td th:switch="${emp.emp_status}" th:id="'status_'+${emp.emp_num}">
                            <input type="hidden" th:value="${emp.emp_status}">
                            <div th:case="0" class="badge badge-danger">轮休</div>
                            <div th:case="1" class="badge badge-success">在岗</div>

                        </td>
                        <td>
                            <a>
                                <button class="btn btn-outline-info"   th:onclick="'javascript:showEmp(\''+${emp.emp_num}+'\');'" >修改</button>
                            </a>
                            <!--th:href="@{/admin/deptDel/}+${dept.dept_id}"-->
                            <a>
                                <button class="btn btn-outline-danger"  th:onclick="'javascript:empdel(\''+${emp.emp_num}+'\');'">删除</button>
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>

<!--    设置修改员工弹出框div-->
    <div class="modal fade" id="empModify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form th:action="@{/admin/updateEmp}" method="post" class="forms-sample" id="updateForm">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">更新员工</h4>
                </div>
                <div class="modal-body">

                    <input type="hidden" name="emp_num" id="emp_id">
                    <div class="form-group">
                        <label for="empName">员工姓名</label>
                        <input type="text" name="emp_name" class="form-control" id="empName" >
                    </div>
                    <div class="form-group">
                        <label for="joinTime">入职时间</label>
                        <input type="text" name="emp_hiredate" class="form-control" id="joinTime" >
                    </div>

                    <div class="form-group">
                        <label for="empTel">联系方式</label>
                        <input type="text" name="emp_tel" class="form-control" id="empTel" >
                    </div>
                    <div class="form-group">
                        <label for="sel_deptName">所属部门</label>
                        <select class="form-control form-control-lg" id="sel_deptName" name="dept_no">
                            <option th:each="dept : ${depts}" th:text="${dept.dept_name}" th:value="${dept.dept_id}" ></option>
                        </select>
                    </div>
                    <div class="form-group">
                    <label>员工状态</label>
                    <select class="form-control form-control-lg" id="sel_status" name="emp_status">
                        <option th:text="轮休" th:value="0"></option>
                        <option th:text="在岗" th:value="1"></option>

                    </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" onclick="updateEmp()"  class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                </div>
            </div>
            </form>
        </div>
    </div>

<!--    设置添加员工弹出框div-->
    <div class="modal fade" id="empAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form th:action="@{/admin/addEmp}" class="forms-sample" method="post" id="addForm" >
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">新增员工</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="addName">员工姓名</label>
                        <input type="text" name="emp_name" class="form-control" id="addName" >
                    </div>
                    <div class="form-group">
                        <label for="addTime">入职时间</label>
                        <input type="text" name="emp_hiredate" class="form-control datetimepicker-input" id="addTime">
                    </div>
                    <div class="form-group">
                        <label for="addTel">联系方式</label>
                        <input type="text" name="emp_tel" class="form-control" id="addTel" >
                    </div>
                    <div class="form-group">
                        <label for="sel_deptName">所属部门</label>
                        <select class="form-control form-control-lg" id="addDeptName" name="dept_no">
                            <option th:each="dept : ${depts}" th:text="${dept.dept_name}" th:value="${dept.dept_id}" ></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>员工状态</label>
                        <select class="form-control form-control-lg" id="addStatus" name="emp_status">
                            <option th:text="轮休" th:value="0"></option>
                            <option th:text="在岗" th:value="1"></option>

                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" onclick="addEmp()" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                </div>
            </div>
            </form>
        </div>
    </div>
<div th:include="~{admin/base :: footer}"></div>

    <script src="../js/myjs/bootstrap-notify.js"></script>


    <script type="text/javascript">
    //实现删除操作和对应的动画
    function empdel(empid) {
        $.ajax({
            success: function (data) {
                if(data == 'success'){
                    $('#name_'+empid).parent().remove();
                    $.notify({
                        message: '删除成功!'
                    },{
                        type: 'success',
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        delay: 1000 //显示时长(毫秒)
                    });
                }

            },
            url: "/admin/empDel/"+empid,
            type: "GET",
            dataType: "text"

        });
        //更新后重新加载页面,设置延迟1s刷新
        setTimeout(function () {
            location.reload();//刷新页面
        },1000);
    }

    //展示选中的用户信息
    function showEmp(empid) {
        $('#empModify').modal();
        $('#emp_id').val(empid);
        $('#empName').val($('#name_'+empid).text());
        $('#joinTime').val($('#time_'+empid).text());
        $('#empTel').val($('#tel_'+empid).text());

        //设置option被选中
        $('#sel_deptName option').each(function () {
                if($(this).text() == $('#deptName_'+empid).text()){
                    $(this).prop("selected",true);
                }
            });

        $('#sel_status option').each(function () {

                if($(this).val() == $('#status_'+empid).find('input').val()){
                    $(this).prop("selected",true);
                }
            });

    }

    //修改员工信息
    function updateEmp() {
        $('#updateForm').ajaxSubmit({
            success: function (data) {
                if(data == 'success'){//如果成功
                    //弹出框设置
                    $.notify({
                        message: '修改成功!'
                    },{
                        type: 'success',
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        delay: 1000 //显示时长(毫秒)
                    })
                }else{
                    $.notify({
                        message: '修改失败!'
                    },{
                        type: 'warning',
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        delay: 1000 //显示时长(毫秒)
                    })
                }
            },
            resetForm: false

        });
        //更新后重新加载页面,设置延迟1s刷新
        setTimeout(function () {
            location.reload();//刷新页面
        },1000);
    }
    //显示新增员工div
    function addDiv() {
        $('#empAdd').modal();

    }
    //新增员工
    function addEmp() {
        $('#addForm').ajaxSubmit({
            success: function (data) {
                if(data == 'success'){//如果成功
                    //弹出框设置
                    $.notify({
                        message: '添加成功!'
                    },{
                        type: 'success',
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        delay: 1000 //显示时长(毫秒)
                    })
                }else{
                    $.notify({
                        message: '添加失败!'
                    },{
                        type: 'warning',
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        delay: 1000 //显示时长(毫秒)
                    })
                }
            },
            resetForm: false
        });
        //更新后重新加载页面,设置延迟1s刷新
        setTimeout(function () {
            location.reload();//刷新页面
        },1000);
    }

    //实现分页
    $(document).ready(function(){
        $("#example").dataTable({
            "bProcessing" : true, //DataTables载入数据时，是否显示‘进度’提示
            "aLengthMenu" : [5, 10, 15], //更改显示记录数选项
            "sPaginationType" : "full_numbers", //详细分页组，可以支持直接跳转到某页
            "bAutoWidth" : true, //是否自适应宽度
            //"bJQueryUI" : true,
            "oLanguage": { //国际化配置
                "sProcessing" : "正在获取数据，请稍后...",
                "sLengthMenu" : "显示 _MENU_ 条",
                "sZeroRecords" : "没有您要搜索的内容",
                "sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
                "sInfoEmpty" : "记录数为0",
                "sInfoFiltered" : "(全部记录数 _MAX_ 条)",
                "sInfoPostFix" : "",
                "sSearch" : "搜索",
                "sUrl" : "",
                "oPaginate": {
                    "sFirst" : "第一页",
                    "sPrevious" : "上一页",
                    "sNext" : "下一页",
                    "sLast" : "最后一页"
                }
            },
        });
    });


</script>
</body>
</html>