<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{admin/base :: head}"></div>
<body>

<div class="col-lg-12 stretch-card">

        <div class="card-body">
            <h4 class="card-title">客户信息</h4>
            <div class="table-responsive pt-3">
                <table class="table table-bordered tablelist" id="example">
                    <thead>
                    <tr>
                        <th>
                            客户姓名
                        </th>
                        <th>
                            联系方式
                        </th>
                        <th>
                            收货地址
                        </th>
                        <th>
                            邮编
                        </th>
                        <th>
                            客户订单
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-warning" th:each="user : ${users}">
                        <td th:text="${user.uname}"></td>
                        <td th:text="${user.utel}"></td>
                        <td th:text="${user.uaddress}"></td>
                        <td th:text="${user.upostcode}"></td>
                        <td>
                            <a th:href="@{/admin/clientOrder/}+${user.uid}">
                                <button class="btn btn-outline-success">点击查看订单</button>
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

</div>
<div th:include="~{admin/base :: footer}"></div>
<script type="text/javascript">
    //实现分页
    $(document).ready(function(){
        $("#example").dataTable({
            "bProcessing" : true, //DataTables载入数据时，是否显示‘进度’提示
            "aLengthMenu" : [5, 10, 15], //更改显示记录数选项
            "sPaginationType" : "full_numbers", //详细分页组，可以支持直接跳转到某页
            "bAutoWidth" : true, //是否自适应宽度
            //"bJQueryUI" : true,
            "oLanguage": { //国际化配置
                "sProcessing" : "正在获取数据，请稍后...",
                "sLengthMenu" : "显示 _MENU_ 条",
                "sZeroRecords" : "没有您要搜索的内容",
                "sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
                "sInfoEmpty" : "记录数为0",
                "sInfoFiltered" : "(全部记录数 _MAX_ 条)",
                "sInfoPostFix" : "",
                "sSearch" : "搜索",
                "sUrl" : "",
                "oPaginate": {
                    "sFirst" : "第一页",
                    "sPrevious" : "上一页",
                    "sNext" : "下一页",
                    "sLast" : "最后一页"
                }
            },
        });
    });
</script>
</body>
</html>